<!-- footer area start -->
<div class="footer-area ptb--50">
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2018. All Rights Reserved.</p>
            <p>Landing Page Template Designed & Developed By:
                <strong>Lavaland</strong>
            </p>
        </div>
    </div>
</div>
<!-- footer area end -->

<!-- jquery latest version -->
<script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- others plugins -->
<script src="/assets/js/jquery.slicknav.min.js"></script>
<script src="/assets/js/counterup.min.js"></script>
<script src="/assets/js/waypoints.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/countdown.js"></script>
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/jquery.zoomslider.min.js"></script>
<script src="/assets/js/jquery.firefly.js"></script>
<!-- google map -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO_5h890WNShs_YLGivCBfs2U89qXR-7Y&callback=initMap"></script>
<script src="/assets/js/scripts.js"></script>
</body>

</html>